@import '../../styles/main.scss';

.Container {
  padding: 0 20px;

  @include media-breakpoint-up(xl) {
    padding: 0;
  }
}

.Line {
  border: 1px solid #3a3a3a;
  margin: 0 auto;
  max-width: $container-max-width;

  @include media-breakpoint-up(md) {
    width: calc(100% - 40px);
  }

  @include media-breakpoint-up(xl) {
    width: 100%;
  }
}