@import '../../styles/main.scss';

.Header {
  position: fixed;
  top: 0;
  width: 100%;

  .Nav {
    padding: $spacing-lg $spacing-md;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-up(lg) {
      padding: $spacing-lg 0;
    }

    .Figure {
      position: relative;
      height: 50px;
      width: 140px;

      @include media-breakpoint-up(sm) {
        height: 42px;
        width: 120px;
      }
    }

    .InputContainer {
      display: none;

      @include media-breakpoint-up(md) {
        display: flex;
        align-items: center;
        column-gap: 16px;
        padding: 10px 24px;
        // background-color: #EFEFEF;
        background-color: $input-bg-color;
        border-radius: $spacing-sm;
      }

      .Icon {
        height: 16px;
        width: 16px;
        color: #c3c1c1;
      }

      input {
        // background-color: #EFEFEF;
        background-color: $input-bg-color;
        border: none;
        outline: none;
        font-size: 16px;
        color: $white-100;

        &::placeholder {
          font-size: 16px;
          color: #d6d3d3;
        }
      }
    }
  }
}