@import '../../styles/main.scss';

.Line {
  border: 1px solid $black-300;
  margin-bottom: 20px;
}

.Main {
  padding-top: 90px;

  @include media-breakpoint-up(sm) {
    padding-top: 82px;
  }

  &.Login {
    padding-top: 0;
  }
}